.container{
    background-color:purple;
    height:500px;
    width:500px;
    margin:auto;
    }
    
.colorchange{
    border:solid cyan 3px;
    height:300px;
    width:300px;
    margin:auto;
    }
    
.red_button{
    height:150px;
    width:240px;
    background-color:red;
    margin:10px 0 0 0px;
    float:left;
    }
    
.blue_button{
    height:150px;
    width:240px;
    background-color:blue;
    margin:10px 0 0 20px;
    float:left;
    }   
    
.green_button{
    height:150px;
    width:240px;
    background-color:green;
    margin:10px 0 0 ;
    float:left;
    }
    
.yellow_button{
    height:150px;
    width:240px;
    background-color:yellow;
    margin:10px 0 0 20px;
    float:left;
    }   
     
 button{
    margin:100px 0 0 100px;
    }   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
